.custom-footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    margin-top: auto;
  }
  .custom-footer p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ccc;
  }
  .custom-footer a {
    color: #aaa;
    text-decoration: none;
  }
  