<div class="admin-container">
    <!-- Navigation Buttons -->
    <div>
        <button (click)="changeMode(true)">Login</button>
        <button (click)="changeMode(false)">Sign Up</button>
        <button routerLink="/">Go Back to Main Page</button>
    </div>

    <!-- Login Form -->
    <div *ngIf="!isLoggedIn && logIn" class="login-form">
        <h2>Admin Login</h2>
        <input type="text" placeholder="Email" [(ngModel)]="email">
        <input type="password" placeholder="Password" [(ngModel)]="password">
        <button (click)="login()">Login</button>
    </div>

    <!-- Sign Up Form -->
    <div *ngIf="!isLoggedIn && !logIn" class="signup-form">
        <h2>Admin Sign Up</h2>
        <input type="text" placeholder="Username" [(ngModel)]="username">
        <input type="text" placeholder="Email" [(ngModel)]="email">
        <input type="password" placeholder="Password" [(ngModel)]="password">
        <button (click)="signUp()">Sign Up</button>
    </div>

    <!-- Admin Logged In Section -->
    <div *ngIf="isLoggedIn" class="welcome-admin">
        <h2>Welcome, Admin!</h2>
        <button (click)="logout()">Logout</button>
        <button routerLink="/manage-inventory">Manage Inventory</button>
    </div>
</div>
