<div class="page-wrapper">

    <!-- ======================== -->
    <!-- Full-Width Banner Image with Text Overlay -->
    <!-- ======================== -->
    <div class="full-width-image">
      <img src="assets/bolts.png" alt="Banner Image">
  
      <!-- Bottom Overlay Banner with Text -->
      <div class="image-overlay-bottom">
        <div class="overlay-text">
          Punch and die button manufacturing. Surface and centerless grinding.
        </div>
      </div>
    </div>
  
    <!-- ======================== -->
    <!-- Company Mission Statement Section -->
    <!-- ======================== -->
    <div class="experience-section">
      <p>
        With over 30 years of experience, At Davend Punch and Die Co. Ltd. is dedicated to
        meeting demands of our customers. We specialize in high-precision punch and die
        bushing/die button manufacturing and offer expert grinding services, including surface
        grinding and centerless grinding. We provide top-tier solutions to meet your manufacturing needs.
      </p>
    </div>
  
  </div>

  <!-- DANIELS IMPLEMENTATION FOR BROWSWE SERVICES & SEARCH PRODUCTS 
  <div class="landing-container">
    <p>Discover the best products we have to offer. Log in to manage inventory.</p>

    <div class="search-bar">
      <input 
        type="text" 
        placeholder="Search products..." 
        [(ngModel)]="searchTerm"
        (input)="filterProducts()" 
      >
    </div>
  
    <h2>Available Products</h2>
    <div class="products-grid">
      <div class="product-card" *ngFor="let product of filteredProducts">
        <img [src]="product.imageURL" alt="Product Image">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <span>Quantity: {{ product.qty }}</span>
        <br>
        <button>Add Service</button>
      </div>
    </div>
  </div>

-->
  